<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( http://source.unsplash.com/1600x900/?movie);">
  <div class="container">
<h1>All the lists</h1>
</div>
</div>
<br>
<h1>Listas:</h1>
<br>

<div class="cards">
<% @lists.each do |list| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://source.unsplash.com/1600x900/?movie/<%= rand(1...10) %>)">
<%= link_to  list.name , list_path(list.id) %>
</div>
<% end %>
</div>
